<div *ngIf="(isGenerating$ | async)" class="container">
  <div class="columns">
    <div class="column col-md-4 col-sm-12 col-mx-auto">
      <div class="loader__container">
        <div [class.hidden]="!(isGenerating$ | async)" class="loader"></div>
        <span [text]="'Generating your brief '" [typingSpeed]="100" appTyping
              class="typing-animation"></span>
      </div>
    </div>
  </div>
</div>


<div class="container questionnaire__position">
  <div class="columns">
    <div class="column col-12">
      <div *ngIf="!allQuestionsAnswered && !(isGenerating$ | async)" class="pane-actions">
        <button (click)="previousSet()" [disabled]="!canPreviousSet" class="previous">
          <span class="material-symbols-outlined">chevron_left</span>
        </button>
        <button (click)="nextSet()" [disabled]="!canNextSet" class="next">
          <span class="material-symbols-outlined">chevron_right</span>
        </button>
      </div>
      <div *ngIf="!(isGenerating$ | async)" [class.fadeout]="allQuestionsAnswered" class="questionnaire__wrapper">
        <div class="questionnaire__questions">
          <app-questions (emitQuestionPart$)="completeSet($event)" (typingTrigger)="typingTrigger.next()"
                         [currentSet$]="currentSet$"></app-questions>
        </div>
        <div [class.hasFocus]="allQuestionsAnswered" class="questionnaire__overview">
          <span class="default">I'd like to </span><span id="includer"></span> <span class="cursor">_</span>
          <div class="generate-actions">
            <button (click)="previousSet()" *ngIf="allQuestionsAnswered" class="generate-cta-secondary">Go back</button>
            <button (click)="startGeneration()" *ngIf="allQuestionsAnswered" class="generate-cta">Create brief</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="questionnaire__position">-->
<!-- -->
<!--</div>-->



