<div class="page">
  <div class="container">
    <div class="columns">
      <div class="column col-12">
        <div id="my-briefs__actions">
          <div class="columns">
            <div class="column col-md-6 col-sm-12 my-briefs__actions-title">
              <img alt="library-icon" height="34" ngSrc="../../../assets/icons/library_icon.svg"
                   width="34">
              <h2>My briefs</h2>
            </div>
            <div class="column col-md-6 col-sm-12 primary-actions">
              <button class="btn btn-icon">Filters<img alt="library-icon" height="18"
                                                       ngSrc="../../../assets/icons/filter_icon.svg"
                                                       width="18">
              </button>

              <button class="btn btn-primary btn-icon">Create new brief<img alt="library-icon" height="18"
                                                                            ngSrc="../../../assets/icons/library_add-icon-white.svg"
                                                                            width="18">
              </button>

            </div>
          </div>
        </div>

        <div id="my-briefs__active">
          <div class="columns">
            <div class="column col-md-6 col-sm-12">
              <h3>Active briefs</h3>
              <div class="library-card">
                <div class="library-card__image"></div>
                <div class="library-card__content">
                  <div class="library-card__chips">
                    <div class="chips-container">
                      <div class="chip">
                        <figure class="avatar avatar-sm" data-initial="LL" style="background-color: #5755d9;"></figure>
                        Liam Langstaff
                      </div>
                      + 3 more
                    </div>
                    <div class="levels-container">
                      <span class="chip bg1">Beginner</span>
                    </div>

                  </div>
                  <div class="library-card__title">
                    <h3>HarmonyBites design brief</h3>
                  </div>
                  <div class="library-card__description">
                    <p>HarmonyBites is not merely a meal service; it is a manifestation of a culinary philosophy that
                      seeks to harmonize health, sustainability, and gastronomic pleasure...</p>
                  </div>
                  <div class="library-card__actions">
                    <button class="btn btn-primary btn-icon">View brief
                    </button>
                  </div>

                </div>
                <div class="library-card__footer"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="divider"></div>

        <div id="my-briefs__all">
          <div class="columns">
            <div class="column col-md-6 col-sm-12">
              <h3>All briefs</h3>
              <div class="library-card">
                <div class="library-card__image"></div>
                <div class="library-card__content">
                  <div class="library-card__chips">
                    <div class="chips-container">
                      <div class="chip">
                        <figure class="avatar avatar-sm" data-initial="LL" style="background-color: #5755d9;"></figure>
                        Liam Langstaff
                      </div>
                    </div>
                    <div class="levels-container">
                      <span class="chip bg1">Beginner</span>
                    </div>

                  </div>
                  <div class="library-card__title">
                    <h3>HarmonyBites design brief</h3>
                  </div>
                  <div class="library-card__description">
                    <p>HarmonyBites is not merely a meal service; it is a manifestation of a culinary philosophy that
                      seeks to harmonize health, sustainability, and gastronomic pleasure...</p>
                  </div>
                  <div class="library-card__actions">
                    <button class="btn btn-primary btn-icon">View brief
                    </button>
                  </div>

                </div>
                <div class="library-card__footer"></div>
              </div>
              <div class="library-card">
                <div class="library-card__image"></div>
                <div class="library-card__content">
                  <div class="library-card__chips">
                    <div class="chips-container">
                      <div class="chip">
                        <figure class="avatar avatar-sm" data-initial="LL" style="background-color: #5755d9;"></figure>
                        Liam Langstaff
                      </div>
                      + 3 more
                    </div>
                    <div class="levels-container">
                      <span class="chip bg2">Intermediate</span>
                    </div>

                  </div>
                  <div class="library-card__title">
                    <h3>HarmonyBites design brief</h3>
                  </div>
                  <div class="library-card__description">
                    <p>HarmonyBites is not merely a meal service; it is a manifestation of a culinary philosophy that
                      seeks to harmonize health, sustainability, and gastronomic pleasure...</p>
                  </div>
                  <div class="library-card__actions">
                    <button class="btn btn-primary btn-icon">View brief
                    </button>
                  </div>

                </div>
                <div class="library-card__footer"></div>
              </div>
              <div class="library-card">
                <div class="library-card__image"></div>
                <div class="library-card__content">
                  <div class="library-card__chips">
                    <div class="chips-container">
                      <div class="chip">
                        <figure class="avatar avatar-sm" data-initial="LL" style="background-color: #5755d9;"></figure>
                        Liam Langstaff
                      </div>
                    </div>
                    <div class="levels-container">
                      <span class="chip bg3">Advanced</span>
                    </div>

                  </div>
                  <div class="library-card__title">
                    <h3>HarmonyBites design brief</h3>
                  </div>
                  <div class="library-card__description">
                    <p>HarmonyBites is not merely a meal service; it is a manifestation of a culinary philosophy that
                      seeks to harmonize health, sustainability, and gastronomic pleasure...</p>
                  </div>
                  <div class="library-card__actions">
                    <button class="btn btn-primary btn-icon">View brief
                    </button>
                  </div>

                </div>
                <div class="library-card__footer"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
