$borderColor: lighten(#27292B, 70%);


h1, h2, h3, h4, h5, h6 {
  font-family: "Karla", sans-serif !important;
}

.page {
  margin-bottom: 30px;
}

.page p {
  line-height: 30px !important;
}

.gradient-text {
  background: -webkit-linear-gradient(darken(#70e1f5, 20%), darken(#ffd194, 20%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.pill {
  padding: 8px;
  border: 1px solid $borderColor;
  border-radius: 30px;
  font-family: "Karla", sans-serif;
  margin-top: 16px;
  margin-bottom: 16px;
  width: fit-content;
  font-weight: 600;
  background: #eee;
}

#brief__overview, #brief__content, #brief__inspiration {
  margin-top: 2rem;
}

.brief__fw-box {
  background: #EEEEEE;
  padding: 20px;
  height: 100%;
  border: 1px solid #dadcdd;
  border-radius: 10px;

  &.inspiration-img {
    height: 200px;
    overflow: hidden;
    position: relative;

    .expand-icon {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    img:not(.expand-icon) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .glassmorphia {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      backdrop-filter: blur(16px) saturate(180%);
      -webkit-backdrop-filter: blur(10px) saturate(180%);
      background-color: rgba(255, 255, 255, 0.75);
      border-radius: 12px;
      border: 1px solid rgba(209, 213, 219, 0.3);
      z-index: 1;
    }
  }

  &.box2 {
    background: #abbaab; /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #ffffff, #abbaab); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  &.box3 {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #eee 0, #eee 1px, #fff 0, #fff 50%);
  }

  &.box4 {
    background-color: #e5e5f7;
    background-size: 20px 20px;
    background-image: repeating-linear-gradient(0deg, #eee, #eee 1px, #fff 1px, #fff);
  }

  &.box5 {
    background-color: #e5e5f7;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #efefef 10px), repeating-linear-gradient(#ececec, rgba(238, 238, 238, 1));
  }
}

#brief__actions {
  margin: 0 auto;
  padding: 28px 10px;
  border-bottom: 1px solid $borderColor;


  .brief__actions-title {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;

    h4 {
      margin: 0;
    }
  }
}

#brief__actions-bar {
  display: flex;
  gap: 12px;
}

.secondary-actions, .primary-actions {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}

.secondary-actions {
  button {
    display: flex;
    align-items: center;
  }
}


#brief__title, #brief__meta {
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  border-right: 1px solid $borderColor;
  position: relative;


  h1 {
    margin: 0;
    padding: 10px 30px 30px 0;
    font-weight: bold;
  }

  &:before {
    content: '';
    width: 100vw;
    height: 100%;
    position: absolute;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    left: 0;
    transform: translateX(-100%);
    top: -1px;
    box-sizing: content-box;
  }
}

.brief__actions-title {

}

#brief__avatars {
  display: flex;
  align-items: center;
  gap: 8px;
  border-left: 1px solid $borderColor;
  padding-left: 12px;

  figure {
    font-family: "Karla", sans-serif;
  }
}

// medium breakpoint
@media screen and (min-width: 768px) {
  #brief__meta {
    .brief__header__content {
      padding-left: 30px;
    }
  }

  .primary-actions {
    border-left: 1px solid $borderColor;
  }

  .primary-actions, .secondary-actions {
    margin-top: 0;
  }


  #brief__actions-bar {
    justify-content: flex-end;
  }

  .brief__fw-box {
    &.inspiration-img {
      height: 185px;
    }
  }

}

