<div class="container logo__container">
  <div class="columns">
    <div class="column col-12 header">
      <button (click)="routeToGenerate()" class="logo"><span>BRIEF</span>FORGE</button>
      <ul class="nav">
        <li class="nav-item">
          <a href="#">Generate</a>
        </li>
        <li class="nav-item">
          <a href="#">My briefs</a>
        </li>
        <li class="nav-item">
          <a href="#">
            <figure class="avatar avatar-md" data-initial="LL" style="background-color: #5755d9;"></figure>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
