.logo__container {
  background-color: #F3F4F1;
  transition: background-color 1s, color 1s;

  .logo {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    float: none;
    text-align: left;
    padding: 32px 20px 32px 0;
    font-family: "Karla", sans-serif;
    font-size: 28px;

    span {
      font-weight: 700;
    }
  }
}

.hasFocus .logo__container {
  background: #27292B;
  color: white;
}

// medium breakpoint
@media screen and (min-width: 768px) {

}
