/* You can add global styles to this file, and also import other style files */
$borderColor: lighten(#27292B, 70%);

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;
  font-family: "Merriweather", serif;
  font-weight: 400;
  background-color: #F3F4F1;
  color: #27292B;
  transition: background-color 1s, color 1s;
  overflow: auto;
}

* {
  box-sizing: border-box;
}

.divider {
  border-color: $borderColor;
  margin: 28px 0;
}

button {
  font-family: "Karla", sans-serif !important;
}

.container {
  max-width: 1200px;
  float: none;
  margin: 0 auto;
}

body.hasFocus {
  background-color: #27292B;
  color: #fff;
}

.hasFocus .logo__container {
  background: #27292B !important;
  color: white;
}

//.karla-<uniquifier> {
//          font-family: "Karla", sans-serif;
//          font-optical-sizing: auto;
//          font-weight: <weight>;
//          font-style: normal;
//        }

.toast-message, .toast-title {
  font-family: "Karla", sans-serif !important;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: left;

  &:focus-visible {
    outline: 2px solid black;
  }
}

.full-width {
  width: 100%;
  max-width: none;
  padding: 0;

  .columns, .column {
    margin: 0;
    padding: 0;
  }
}

.column {
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn {
  border-radius: 2rem;
}

.library-card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 0.5rem;

  &__image {
    min-width: 200px;
    min-height: 200px;
  }

  &__content {
    padding: 28px;
  }

  &__title {
    font-family: "Karla", sans-serif !important;
    padding: 12px 0;
  }

  &__chips {
    font-family: "Karla", sans-serif !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.chip {
  font-family: "Karla", sans-serif !important;

  &.bg1 {
    background-color: #C179B9;
    color: white;
  }

  &.bg2 {
    background-color: #F3DE8A;
    color: black;
  }

  &.bg3 {
    background-color: #69140E;
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .library-card {
    display: flex;
    flex-direction: row;
  }
}

.chip {
  font-family: "Karla", sans-serif !important;
}

