/* You can add global styles to this file, and also import other style files */

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;
  font-family: "Merriweather", serif;
  font-weight: 400;
  background-color: #F3F4F1;
  color: #27292B;
  transition: background-color 1s, color 1s;
  overflow: auto;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  float: none;
  margin: 0 auto;
}

body.hasFocus {
  background-color: #27292B;
  color: #fff;
}

.hasFocus .logo__container {
  background: #27292B !important;
  color: white;
}

//.karla-<uniquifier> {
//          font-family: "Karla", sans-serif;
//          font-optical-sizing: auto;
//          font-weight: <weight>;
//          font-style: normal;
//        }


button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 100%;
  text-align: left;

  &:focus-visible {
    outline: 2px solid black;
  }
}
